<md-sidenav-layout fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item routerLink="">
        Search
      </a>
      <hr>
      <a md-list-item routerLink="/biggest-file">
        Biggest file
      </a>
      <hr>
      <a md-list-item routerLink="/biggest-folder">
        Biggest Folder
      </a>
      <hr>
      <a md-list-item routerLink="/biggest-extension">
        Biggest extension
      </a>
      <hr>
      <a md-list-item routerLink="/expert">
        Expert mode
      </a>
      <hr>
    </md-nav-list>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <div class="toolbar">
        <h1>Scan!!!</h1>
      </div>
    </md-toolbar>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
